<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.AIMS.Servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <display-name>AIMS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLoginServtel</display-name>
    <servlet-name>AdminLoginServtel</servlet-name>
    <servlet-class>com.AIMS.Servlet.AdminLoginServtel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServtel</servlet-name>
    <url-pattern>/AdminLoginServtel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentAddServlet</display-name>
    <servlet-name>StudentAddServlet</servlet-name>
    <servlet-class>com.AIMS.Servlet.StudentAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentAddServlet</servlet-name>
    <url-pattern>/StudentAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentViewServlet</display-name>
    <servlet-name>StudentViewServlet</servlet-name>
    <servlet-class>com.AIMS.Servlet.StudentViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentViewServlet</servlet-name>
    <url-pattern>/StudentViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentUpdateServlet</display-name>
    <servlet-name>StudentUpdateServlet</servlet-name>
    <servlet-class>com.AIMS.Servlet.StudentUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentUpdateServlet</servlet-name>
    <url-pattern>/StudentUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FirstName</display-name>
    <servlet-name>FirstName</servlet-name>
    <servlet-class>com.AIMS.Servlet.StudentUpdate.FirstName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstName</servlet-name>
    <url-pattern>/FirstName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LastName</display-name>
    <servlet-name>LastName</servlet-name>
    <servlet-class>com.AIMS.Servlet.StudentUpdate.LastName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LastName</servlet-name>
    <url-pattern>/LastName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DOB</display-name>
    <servlet-name>DOB</servlet-name>
    <servlet-class>com.AIMS.Servlet.StudentUpdate.DOB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DOB</servlet-name>
    <url-pattern>/DOB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DOA</display-name>
    <servlet-name>DOA</servlet-name>
    <servlet-class>com.AIMS.Servlet.StudentUpdate.DOA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DOA</servlet-name>
    <url-pattern>/DOA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Email</display-name>
    <servlet-name>Email</servlet-name>
    <servlet-class>com.AIMS.Servlet.StudentUpdate.Email</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Email</servlet-name>
    <url-pattern>/Email</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Semester</display-name>
    <servlet-name>Semester</servlet-name>
    <servlet-class>com.AIMS.Servlet.StudentUpdate.Semester</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Semester</servlet-name>
    <url-pattern>/Semester</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Percentage12</display-name>
    <servlet-name>Percentage12</servlet-name>
    <servlet-class>com.AIMS.Servlet.StudentUpdate.Percentage12</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Percentage12</servlet-name>
    <url-pattern>/Percentage12</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Batch</display-name>
    <servlet-name>Batch</servlet-name>
    <servlet-class>com.AIMS.Servlet.StudentUpdate.Batch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Batch</servlet-name>
    <url-pattern>/Batch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FatherName</display-name>
    <servlet-name>FatherName</servlet-name>
    <servlet-class>com.AIMS.Servlet.StudentUpdate.FatherName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FatherName</servlet-name>
    <url-pattern>/FatherName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Contact</display-name>
    <servlet-name>Contact</servlet-name>
    <servlet-class>com.AIMS.Servlet.StudentUpdate.Contact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Contact</servlet-name>
    <url-pattern>/Contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Password</display-name>
    <servlet-name>Password</servlet-name>
    <servlet-class>com.AIMS.Servlet.StudentUpdate.Password</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Password</servlet-name>
    <url-pattern>/Password</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LateralEntry</display-name>
    <servlet-name>LateralEntry</servlet-name>
    <servlet-class>com.AIMS.Servlet.StudentUpdate.LateralEntry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LateralEntry</servlet-name>
    <url-pattern>/LateralEntry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Address</display-name>
    <servlet-name>Address</servlet-name>
    <servlet-class>com.AIMS.Servlet.StudentUpdate.Address</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Address</servlet-name>
    <url-pattern>/Address</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentDeleteServlet</display-name>
    <servlet-name>StudentDeleteServlet</servlet-name>
    <servlet-class>com.AIMS.Servlet.StudentDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDeleteServlet</servlet-name>
    <url-pattern>/StudentDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacultyAddServlet</display-name>
    <servlet-name>FacultyAddServlet</servlet-name>
    <servlet-class>com.AIMS.Servlet.FacultyAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyAddServlet</servlet-name>
    <url-pattern>/FacultyAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacultyViewServlet</display-name>
    <servlet-name>FacultyViewServlet</servlet-name>
    <servlet-class>com.AIMS.Servlet.FacultyViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyViewServlet</servlet-name>
    <url-pattern>/FacultyViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Name</display-name>
    <servlet-name>Name</servlet-name>
    <servlet-class>com.AIMS.Servlet.FacultyUpdate.Name</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Name</servlet-name>
    <url-pattern>/Name</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacultyUpdateServlet</display-name>
    <servlet-name>FacultyUpdateServlet</servlet-name>
    <servlet-class>com.AIMS.Servlet.FacultyUpdate.FacultyUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyUpdateServlet</servlet-name>
    <url-pattern>/FacultyUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacultyDeleteServlet</display-name>
    <servlet-name>FacultyDeleteServlet</servlet-name>
    <servlet-class>com.AIMS.Servlet.FacultyDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyDeleteServlet</servlet-name>
    <url-pattern>/FacultyDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Designation</display-name>
    <servlet-name>Designation</servlet-name>
    <servlet-class>com.AIMS.Servlet.FacultyUpdate.Designation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Designation</servlet-name>
    <url-pattern>/Designation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Qualification</display-name>
    <servlet-name>Qualification</servlet-name>
    <servlet-class>com.AIMS.Servlet.FacultyUpdate.Qualification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Qualification</servlet-name>
    <url-pattern>/Qualification</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacultyEmail</display-name>
    <servlet-name>FacultyEmail</servlet-name>
    <servlet-class>com.AIMS.Servlet.FacultyUpdate.FacultyEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyEmail</servlet-name>
    <url-pattern>/FacultyEmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacultyContact</display-name>
    <servlet-name>FacultyContact</servlet-name>
    <servlet-class>com.AIMS.Servlet.FacultyUpdate.FacultyContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyContact</servlet-name>
    <url-pattern>/FacultyContact</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacultyPassword</display-name>
    <servlet-name>FacultyPassword</servlet-name>
    <servlet-class>com.AIMS.Servlet.FacultyUpdate.FacultyPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyPassword</servlet-name>
    <url-pattern>/FacultyPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Salary</display-name>
    <servlet-name>Salary</servlet-name>
    <servlet-class>com.AIMS.Servlet.FacultyUpdate.Salary</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Salary</servlet-name>
    <url-pattern>/Salary</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayAdminImageServlet</display-name>
    <servlet-name>DisplayAdminImageServlet</servlet-name>
    <servlet-class>com.AIMS.Servlet.DisplayAdminImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayAdminImageServlet</servlet-name>
    <url-pattern>/DisplayAdminImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectAddServlet</display-name>
    <servlet-name>SubjectAddServlet</servlet-name>
    <servlet-class>com.AIMS.Servlet.SubjectServlet.SubjectAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectAddServlet</servlet-name>
    <url-pattern>/SubjectAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectViewServlet</display-name>
    <servlet-name>SubjectViewServlet</servlet-name>
    <servlet-class>com.AIMS.Servlet.SubjectServlet.SubjectViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectViewServlet</servlet-name>
    <url-pattern>/SubjectViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectUpdateServlet</display-name>
    <servlet-name>SubjectUpdateServlet</servlet-name>
    <servlet-class>com.AIMS.Servlet.SubjectServlet.SubjectUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectUpdateServlet</servlet-name>
    <url-pattern>/SubjectUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectName</display-name>
    <servlet-name>SubjectName</servlet-name>
    <servlet-class>com.AIMS.Servlet.SubjectServlet.SubjectName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectName</servlet-name>
    <url-pattern>/SubjectName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectSemester</display-name>
    <servlet-name>SubjectSemester</servlet-name>
    <servlet-class>com.AIMS.Servlet.SubjectServlet.SubjectSemester</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectSemester</servlet-name>
    <url-pattern>/SubjectSemester</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AcademicYear</display-name>
    <servlet-name>AcademicYear</servlet-name>
    <servlet-class>com.AIMS.Servlet.SubjectServlet.AcademicYear</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcademicYear</servlet-name>
    <url-pattern>/AcademicYear</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseOutcome</display-name>
    <servlet-name>CourseOutcome</servlet-name>
    <servlet-class>com.AIMS.Servlet.SubjectServlet.CourseOutcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseOutcome</servlet-name>
    <url-pattern>/CourseOutcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Session</display-name>
    <servlet-name>Session</servlet-name>
    <servlet-class>com.AIMS.Servlet.SubjectServlet.Session</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Session</servlet-name>
    <url-pattern>/Session</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Credit</display-name>
    <servlet-name>Credit</servlet-name>
    <servlet-class>com.AIMS.Servlet.SubjectServlet.Credit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Credit</servlet-name>
    <url-pattern>/Credit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectDeleteServlet</display-name>
    <servlet-name>SubjectDeleteServlet</servlet-name>
    <servlet-class>com.AIMS.Servlet.SubjectServlet.SubjectDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectDeleteServlet</servlet-name>
    <url-pattern>/SubjectDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentLoginServlet</display-name>
    <servlet-name>StudentLoginServlet</servlet-name>
    <servlet-class>com.AIMS.Servlet.StudentLogin.StudentLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentLoginServlet</servlet-name>
    <url-pattern>/StudentLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentLoginServlet1</display-name>
    <servlet-name>StudentLoginServlet1</servlet-name>
    <servlet-class>com.AIMS.Servlet.StudentLoginServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentLoginServlet1</servlet-name>
    <url-pattern>/StudentLoginServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Markattendance</display-name>
    <servlet-name>Markattendance</servlet-name>
    <servlet-class>com.AIMS.Servlet.AttandenceServlet.Markattendance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Markattendance</servlet-name>
    <url-pattern>/Markattendance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAttandance</display-name>
    <servlet-name>ViewAttandance</servlet-name>
    <servlet-class>com.AIMS.Servlet.AttandenceServlet.ViewAttandance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAttandance</servlet-name>
    <url-pattern>/ViewAttandance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogSer</display-name>
    <servlet-name>LogSer</servlet-name>
    <servlet-class>com.AIMS.Servlet.AttandenceServlet.LogSer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogSer</servlet-name>
    <url-pattern>/LogSer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectBatchCode</display-name>
    <servlet-name>SelectBatchCode</servlet-name>
    <servlet-class>com.AIMS.Servlet.AttandenceServlet.SelectBatchCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectBatchCode</servlet-name>
    <url-pattern>/SelectBatchCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectBCode_Add_Internal</display-name>
    <servlet-name>SelectBCode_Add_Internal</servlet-name>
    <servlet-class>com.AIMS.Servlet.AttandenceServlet.SelectBCode_Add_Internal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectBCode_Add_Internal</servlet-name>
    <url-pattern>/SelectBCode_Add_Internal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Store_cal_internal</display-name>
    <servlet-name>Store_cal_internal</servlet-name>
    <servlet-class>com.AIMS.Servlet.AttandenceServlet.Store_cal_internal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Store_cal_internal</servlet-name>
    <url-pattern>/Store_cal_internal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentViewAttandanceServlet</display-name>
    <servlet-name>StudentViewAttandanceServlet</servlet-name>
    <servlet-class>com.AIMS.Servlet.StudentLogin.StudentViewAttandanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentViewAttandanceServlet</servlet-name>
    <url-pattern>/StudentViewAttandanceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentViewInternalServlet</display-name>
    <servlet-name>StudentViewInternalServlet</servlet-name>
    <servlet-class>com.AIMS.Servlet.StudentLogin.StudentViewInternalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentViewInternalServlet</servlet-name>
    <url-pattern>/StudentViewInternalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentAttandance</display-name>
    <servlet-name>StudentAttandance</servlet-name>
    <servlet-class>com.AIMS.Dao.StudentAttandance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentAttandance</servlet-name>
    <url-pattern>/StudentAttandance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BranchViewServlet</display-name>
    <servlet-name>BranchViewServlet</servlet-name>
    <servlet-class>com.AIMS.Servlet.BranchViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BranchViewServlet</servlet-name>
    <url-pattern>/BranchViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacultyForgetPasswordServlet</display-name>
    <servlet-name>FacultyForgetPasswordServlet</servlet-name>
    <servlet-class>com.AIMS.Servlet.FacultyUpdate.FacultyForgetPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyForgetPasswordServlet</servlet-name>
    <url-pattern>/FacultyForgetPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentForgetPasswordServlet</display-name>
    <servlet-name>StudentForgetPasswordServlet</servlet-name>
    <servlet-class>com.AIMS.Servlet.StudentUpdate.StudentForgetPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentForgetPasswordServlet</servlet-name>
    <url-pattern>/StudentForgetPasswordServlet</url-pattern>
  </servlet-mapping>
</web-app>